<div class="card-deck mb-3 text-center radio-toolbar">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ subscription.name }}</h4>
        </div>
        <div class="card-body">
            {{ subscription.description | raw }}
        </div>
        <div class="card-footer">
            <p class="lead">${{ subscription.price }} / mo</p>
        </div>
    </div>
</div>
